$main-color: #e9d11b;
$dark-mode-color: #000000;
$light-mode-color: #ffffff;
$dark-gray-mode-color:#5a5a5a;
$lighter-gray-mode-color:#aaaaaa;
$text-dark-mode-color:#000;
$text-light-mode-color:#5a5a5a;
$dark-color:#5a5a5a;
$sidebar-dark-color:rgba(0,0,0,0.6);
$dark-gray-color:#5a5a5a;
$light-color:#fff;
$placeholder-color:rgba(153, 153, 153, 0.1);
$button-gray-color:rgba(153, 153, 153, 0.3);
$button-green-color:rgb(0, 199, 0);
$drop-down-shadow:0px 2px 4px rgba(170, 170, 170,0.6);
$card-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
$button-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
$input-shadow:0px 0px 8px rgba(170, 170, 170,0.4);
$gray: #aaaaaa;
$grayActive: #e2e2e2;
